<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();

</script>
<script type="text/javascript" src="https://giscus.app/client.js"
        data-repo="aelaouni/mldrop-pages"
        data-repo-id="R_kgDOGyPqQg"
        data-category="General"
        data-category-id="DIC_kwDOGyPqQs4CBENs"
        data-mapping="pathname"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
